:root {
  --text-light: 69, 69, 69;
  /* HEX #454545 */
  --white: 255, 255, 255;
  /* HEX #ffffff */
  --black: 0, 0, 0;
  /* HEX #000000 */
  /*   --light-blue: 195, 225, 245; HEX #c3e1f5; */
  --light-blue: 212, 233, 247;
  /* HEX #d4e9f7 */
  --less-light-blue: 0, 143, 221;
  /* HEX #008fdd */
  --blue: 21, 94, 133;
  /* HEX #155e85 */
  --dark-blue: 33, 68, 96;
  /* HEX #214460 */
  --even-darker-blue: 0, 47, 66;
  /* HEX #0a2f42 */
  --max-width: 1200px;
  --header-font: "Arial", sans;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-display: swap;
}

.section_container {
  max-width: var(--max-width);
  margin: auto;
  padding: 5rem 1rem;
  border-radius: 20px;
}

.section_header {
  margin-bottom: 1rem;
  font-size: 2rem;
  font-weight: 650;
  font-family: var(--header-font);
  color: rgb(var(--black));
  text-align: center;
}

.section_description {
  line-height: 1.75rem;
  font-size: 1.2rem;
  font-weight: 500;
  color: rgb(var(--black));
  text-align: center;
}

.btn {
  display: flex;
  padding: 0.75rem 1.5rem;
  font-size: 1rem;
  font-weight: 650;
  background-color: rgb(var(--dark-blue));
  border: 2px solid rgb(var(--dark-blue));
  border-radius: 0.625rem;
  justify-content: space-evenly;
  justify-self: center;
  transition: all 0.05s ease-in-out;
  box-shadow: none;
}

.btn:hover {
  background-color: rgb(var(--less-light-blue));
  border-color: rgb(var(--white));
  box-shadow: 0 0 15px rgb(var(--blue));
}

.service_info {
  all: unset;
}

li {
  list-style: none;
}

img {
  display: flex;
  width: 100%;
}

a {
  color: rgb(var(--white));
  text-decoration: none;
  transition: 0.05s;
}

html,
body {
  scroll-behavior: smooth;
}

body {
  font-family: "Arial", sans;
  background-color: rgb(var(--light-blue));
  /*background-size: 35px 35px;*/
  /*background-image: linear-gradient(to right, grey 1px, transparent 1px),*/
  /*  linear-gradient(to bottom, grey 1px, transparent 1px);*/

  background-image: url("assets/background-texture3.png");
  background-repeat: repeat;
  background-position: center;
  background-size: 192px 192px;
}


.about_container .section_description {
  max-width: var(--max-width);
  margin-inline: auto;
  margin-bottom: 4rem;
}

.about_container img {
  max-width: 320px;
  margin-inline: auto;
  border-radius: 10px;
  box-shadow: 0 5px 10px rgb(var(--blue));
}

.client_container {
  padding-block: 2rem;
  background-color: rgb(var(--dark-blue));
  box-shadow: inset 0 0px 10px rgb(var(--black));
}

.swiper {
  margin-top: 1rem;
  padding-bottom: 3rem;
  width: 100%;
}

.swiper-button-next,
.swiper-button-prev {
  visibility: hidden;
}

.client_card {
  max-width: 900px;
  text-align: center;
  padding-block: 2rem;
  background-color: rgb(var(--light-blue));
  border-radius: 10px;
  border: 2px solid rgb(var(--white));
  margin-inline: 0.6rem;
  box-shadow: 0 5px 10px rgb(var(--black));
}

.client_card img {
  max-width: 96px;
  margin-inline: auto;
  margin-bottom: 2rem;
  border-radius: 100vmax;
  box-shadow: 0px 5px 10px rgba(var(--black), 0.4);
}

.client_card p {
  margin-bottom: 1rem;
  margin-inline: 1rem;
  color: rgb(var(--text-light));
  font-weight: 600;
  line-height: 1.5rem;
}

.client_card h4 {
  font-size: 1.2rem;
  font-weight: 600;
  color: rgb(var(--black));
}

.swiper-pagination-bullet-active {
  background-color: rgb(var(--white));
}

.roller {
  list-style: none;
  padding-left: 0;
}

.roller li {
  position: relative;
  padding-left: 40px;
  padding-block: 1rem;
}

.roller li::before {
  content: " ";
  position: absolute;
  width: 30px;
  height: 30px;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  background: url("assets/favicon-96x96.png") no-repeat center center;
  background-size: contain;
}

.qualities_card {
  position: relative;
  isolation: isolate;
  align-items: center;
  justify-content: center;
  padding: 10px;
}

.qualities_card p {
  font-size: 1.25rem;
}

.qualities_filter {
  border-radius: 10px;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(var(--blue), 0.1);
  opacity: 0;
  transition: 0.15s ease-in-out;
  z-index: 1;
}

.qualities_card:hover .qualities_filter {
  opacity: 1;
}

.service {
  background-image: linear-gradient(rgba(var(--black), 0.7), rgba(var(--dark-blue), 0.7));
  border-radius: 20px;
}

.service_container .section_header {
  color: rgb(var(--white));
}

.service_container .section_description {
  max-width: 600px;
  margin-inline: auto;
  margin-bottom: 2rem;
  color: rgb(var(--white));
}

.service_grid {
  margin-top: 2rem;
  display: grid;
  gap: 2rem;
}

.service_info {
  text-align: center;
  background-image: linear-gradient(rgba(var(--black), 0.8),
      rgba(var(--black), 0.8));
  border-radius: 10px;
  padding-bottom: 10px;
}

.service_info .animated3,
.animated4,
.animated5 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.service_info h4 {
  position: relative;
  isolation: isolate;
  margin-bottom: 1rem;
  padding-bottom: 1rem;
  font-size: 1.75rem;
  font-weight: 450;
  font-family: var(--header-font);
  color: rgb(var(--white));
}

.service_info h4::after {
  position: absolute;
  content: "~";
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  line-height: 0;
}

.service_info p {
  color: rgb(var(--white));
  line-height: 1.75rem;
  font-size: 1.125rem;
  padding: 1rem 2rem;
}

.gallery_grid {
  margin-block: 2rem;
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(2, 1fr);
}

.gallery_grid a {
  transition: 0.05s ease-in-out;
}

.gallery_grid img {
  aspect-ratio: 1.4/1;
}

.gallery_grid:hover a:not(:hover) {
  opacity: 0.5;
}

.paint_container {
  max-width: var(--max-width);
  margin-bottom: 7rem;
  padding-block: 2rem;
  padding-inline: 1rem;
  background-color: rgb(var(--dark-blue));
  box-shadow: inset 0 0px 10px rgb(var(--black));
  overflow: hidden;
}

.paint_container h2 {
  color: rgb(var(--white));
}

.paint_container .section_description {
  max-width: 600px;
  text-align: center;
  padding-inline: 10px;
  margin-bottom: 1rem;
  color: rgb(var(--white));
  line-height: 1.5rem;
}

.paint_brands_flex {
  padding-block: 3rem;
  min-width: 1000px;
  display: flex;
  align-items: center;
  gap: 1rem;
  animation: scroll 10s linear infinite;
}

.paint_brands_flex img {
  max-width: 150px;
  box-shadow: 0 5px 10px rgb(var(--black));
  border-radius: 5px;
}

/*.blog {*/
/*  background-image: linear-gradient(rgba(var(--black), 0.6), rgba(var(--black), 0.6)),*/
/*    url("assets/header.jpg") !important;*/
/*  background-size: cover;*/
/*  background-position: center center;*/
/*  background-repeat: no-repeat;*/
/*  border-radius: 20px;*/
/*}*/
/**/
/*.blog_container {*/
/*  padding-block: 6rem;*/
/*  display: grid;*/
/*}*/
/**/
/*.blog_content {*/
/*  text-align: center;*/
/*  overflow: hidden;*/
/*}*/
/**/
/*.blog_content .section_header {*/
/*  margin-bottom: 4vh;*/
/*  color: rgb(var(--white));*/
/*}*/
/**/
/*.blog_content h4 {*/
/*  margin-bottom: 2vh;*/
/*  font-size: 1.25rem;*/
/*  font-weight: 400;*/
/*  font-family: var(--header-font);*/
/*  color: rgb(var(--white));*/
/*}*/
/**/
/*.blog_content p {*/
/*  margin-bottom: 4vh;*/
/*  line-height: 1.75rem;*/
/*  color: rgb(var(--white));*/
/*}*/
/**/
/*.blog_content .btn {*/
/*  background-color: transparent;*/
/*  border: 2px solid rgb(var(--white));*/
/*}*/
/**/
/*.blog_content .btn:hover {*/
/*  background-color: rgb(var(--less-light-blue));*/
/*}*/

@keyframes scroll {
  to {
    transform: translateX(calc(-50% - 0.5rem));
  }
}

.footer_container {
  padding-top: 9.125rem;
  display: grid;
  gap: 4rem 0;
  justify-content: center;
}

.footer_col {
  padding-inline: 1.25rem;
}

.footer_container img {
  max-width: 170px;
  margin-inline: auto;
  margin-bottom: 4vh;
  box-shadow: none;
  border-radius: 0;
}

.footer_socials {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  flex-wrap: wrap;
}

.footer_socials a {
  font-size: 1.5rem;
  color: rgb(var(--black));
  transition: 0.1s ease-in-out;
}

.footer_socials a:hover {
  color: rgb(var(--text-light));
  transform: scale(1.4);
}

.footer_links {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.75rem;
}

.footer_links a {
  display: block;
  font-weight: 600;
  color: rgb(var(--black));
  text-align: center;
  transition: 0.1s ease-in-out;
}

.footer_links a:hover {
  color: rgb(var(--dark-blue));
  text-shadow: 0 0px 20px rgb(var(--blue));
  transform: scale(1.4);
}

.footer_col h4 {
  margin-bottom: 2vh;
  font-size: 1.25rem;
  font-weight: 600;
  color: rgb(var(--black));
  text-align: center;
}

.footer_contact_btn {
  flex-wrap: wrap;
  display: flex;
  padding: 0.5rem 3.5rem;
  border-radius: 5px;
  font-weight: 650;
  background-color: rgb(var(--dark-blue));
  border: 2px solid rgb(var(--dark-blue));
  width: 200px;
  height: 36px;
  font-size: 1.125rem;
  margin-block: 10px;
  align-content: center;
  justify-self: center;
  justify-content: space-evenly;
  cursor: pointer;
}

.footer_contact_btn:hover {
  background-color: rgb(var(--less-light-blue));
  border-color: rgb(var(--white));
  box-shadow: 0px 4px 8px rgba(var(--black), 0.4);
}

.footer_bar {
  border-radius: 50px 50px 50px;
  padding: 1rem;
  font-size: 1rem;
  font-weight: 600;
  color: rgb(var(--white));
  background-color: rgb(var(--black));
  text-align: center;
}

@media (width > 540px) {
  .service_grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .gallery_grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .footer_container {
    grid-template-columns: repeat(2, 1fr);
  }

  .footer_col:nth-child(1) {
    grid-area: 1/1/2/3;
  }

  .footer_col:nth-child(3) {
    border-left: 2px solid rgb(var(--black));
  }

}

@media (width > 768px) {

  .swiper-button-next,
  .swiper-button-prev {
    font-weight: 650;
    visibility: visible;
    background-color: transparent;
    color: rgb(var(--white));
  }

  .client_container {
    padding-bottom: 2rem;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 20px;
  }

  .client_card {
    max-width: var(--max-width);
    text-align: center;
    padding-block: 2rem 4rem;
    padding-inline: 4rem;
    margin-inline: 4rem;
    background-color: rgb(var(--light-blue));
    border-radius: 10px;
  }

  .client_card p {
    margin-bottom: 1rem;
    color: rgb(var(--text-light));
    font-weight: 650;
    font-size: 1.125rem;
    line-height: 1.75rem;
  }

  .roller {
    padding-left: 30px;
  }

  .service_grid {
    grid-template-columns: repeat(3, 1fr);
  }

  .gallery_grid {
    grid-template-columns: repeat(4, 1fr);
  }

  /*.blog_container {*/
  /*  grid-template-columns: repeat(2, 1fr);*/
  /*}*/
  /**/
  /*.blog_content {*/
  /*  grid-column: 2/3;*/
  /*}*/

  .footer_container {
    grid-template-columns: repeat(3, 1fr);
  }

  .footer_col:nth-child(1) {
    grid-area: 1/2/2/3;
    border-left: 2px solid rgb(var(--black));
    border-right: 2px solid rgb(var(--black));
  }

  .footer_col:nth-child(3) {
    border: none;
  }
}
