:root {
  --text-light: 69, 69, 69;
  /* HEX #454545 */
  --white: 255, 255, 255;
  /* HEX #ffffff */
  --black: 0, 0, 0;
  /* HEX #000000 */
  /*   --light-blue: 195, 225, 245; HEX #c3e1f5; */
  --light-blue: 212, 233, 247;
  /* HEX #d4e9f7 */
  --less-light-blue: 0, 143, 221;
  /* HEX #008fdd */
  --blue: 21, 94, 133;
  /* HEX #155e85 */
  --dark-blue: 33, 68, 96;
  /* HEX #214460 */
  --even-darker-blue: 0, 47, 66;
  /* HEX #0a2f42 */
  --max-width: 1200px;
  --header-font: "Arial", sans;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.section_container {
  max-width: var(--max-width);
  margin: auto;
  padding: 5rem 1rem;
}

.btn {
  display: flex;
  padding: 0.75rem 1.5rem;
  font-size: 1rem;
  font-weight: 700;
  background-color: rgb(var(--dark-blue));
  border: 2px solid rgb(var(--dark-blue));
  border-radius: 0.625rem;
  justify-content: space-evenly;
  justify-self: center;
  transition: all 0.05s ease-in-out;
  box-shadow: none;
}

.btn:hover {
  background-color: rgb(var(--less-light-blue));
  border-color: rgb(var(--white));
  box-shadow: 0 0 15px rgba(var(--blue), 0.8);
}

img {
  display: flex;
  width: 100%;
}

a {
  color: rgb(var(--white));
  text-decoration: none;
  transition: 0.05s;
}

html,
body {
  scroll-behavior: smooth;
}

body {
  font-family: "Arial", sans;
  background-color: rgb(var(--light-blue));
  padding-top: 3.9rem;
  /*background-size: 35px 35px;*/
  /*background-image: linear-gradient(to right, grey 1px, transparent 1px),*/
  /*  linear-gradient(to bottom, grey 1px, transparent 1px);*/
  background-image: url("assets/background-texture2.png");
  background-repeat: repeat;
  background-position: center;
  background-size: 192px 192px;
}

.header {
  min-width: 90vw;
  min-height: 100vh;
  background-image: url("assets/header2.jpg") !important;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  border-bottom-right-radius: 200px 20px;
  border-bottom-left-radius: 200px 20px;
  box-shadow: 0 10px 200px rgba(var(--blue), 0.8);
}

nav {
  position: fixed;
  isolation: isolate;
  top: 0;
  width: 100%;
  max-width: var(--max-width);
  margin: auto;
  z-index: 9;
}

.nav_header {
  padding-block: 1rem;
  padding-left: 1.25rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(var(--light-blue));
}

.nav_logo img {
  max-width: 120px;
}

.nav_left {
  display: flex;
  flex-direction: row;
  align-content: center;
  padding-inline: 10px;
}

.nav_get_offer_btn {
  display: none;
}

.nav_menu_btn {
  font-size: 1.75rem;
  color: rgb(var(--black));
  cursor: pointer;
  align-content: center;
  padding-left: 1rem;
}

.nav_logo_corner {
  display: none;
}

.nav_links {
  border-bottom-right-radius: 20px 10px;
  border-bottom-left-radius: 20px 10px;
  list-style: none;
  position: absolute;
  width: 100%;
  padding: 2rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 24px;
  background-color: rgb(var(--light-blue));
  transform: translateY(-100%);
  transition: 0.15s;
  z-index: -1;
}

.nav_links.open {
  transform: translateY(0);
  box-shadow: 0 2px 4px rgba(var(--black), 0.8);
  overflow-y: scroll;
}

.nav_links a {
  padding-bottom: 5px;
  font-size: 1.25rem;
  font-weight: 700;
  color: rgb(var(--black));
  border-bottom: 2px solid transparent;
  text-shadow: none;
  transition: 0.1s ease-in-out;
}

.nav_links a:hover {
  border-color: rgb(var(--less-light-blue));
  color: rgb(var(--less-light-blue));
  font-weight: 700;
  text-shadow: 0px 5px 30px rgba(var(--blue), 0.8);
  font-size: 1.5rem;
}

.page_header {
  min-width: 90vw;
  background-color: rgba(var(--light-blue), 0.5);
  background-position: center center;
  margin-bottom: 2.5rem;
  padding-block: 1.375rem;
  font-size: 2rem;
  font-weight: 700;
  font-family: var(--header-font);
  color: rgb(var(--black));
  text-align: center;
}

.header .btn {
  display: none;
}

h3 {
  display: none;
}

.share-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 1vh;
  left: 98%;
  transform: translateX(-100%);
  position: fixed;
  max-width: 95vw;
  width: 4rem;
  height: 4rem;
  border-radius: 100vmax;
  border: 0;
  font-size: 2.6rem;
  background-color: rgb(var(--less-light-blue));
  color: rgb(var(--less-light-blue));
  box-shadow: 0 3px 6px rgba(var(--black), 0.8);
  cursor: pointer;
  z-index: 9;
}

.share-btn::before {
  content: '';
  position: fixed;
  left: 3.5px;
  font-size: 2.25rem;
  line-height: 1.35em;
  width: 1.6em;
  height: 1.6em;
  background-color: transparent;
  color: rgb(var(--white));
  border-radius: inherit;
  z-index: -1;
  background-image: url('assets/email.svg') !important;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.social-icons {
  position: absolute;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: calc(100% - 1.5em);
  height: 100%;
  right: 0;
  border-radius: inherit;
}

.social-icons a i {
  color: rgb(var(--dark-blue));
  transform: scale(0);
  opacity: 0;
  visibility: hidden;
}

.social-icons a:hover i {
  color: rgb(var(--white));
}

.share-btn.open .social-icons a i {
  transform: scale(1);
  opacity: 1;
  visibility: visible;
}

.share-icon {
  transform: scale(1);
}

.share-btn.open {
  width: 24rem;
}

.share-btn.open::before {
  background-color: rgb(var(--white));
}

.back_to_top {
  font-weight: 700;
  font-size: 1.25rem;
  position: fixed;
  bottom: 30vh;
  left: 90%;
  width: 2rem;
  height: 8rem;
  border: none;
  align-items: center;
  background-color: rgb(var(--white));
  color: rgb(var(--black));
  border-radius: 50px;
  writing-mode: vertical-lr;
  cursor: pointer;
  transition: 0.1s ease-in-out;
  z-index: 1;
  box-shadow: 0 3px 6px rgba(var(--black), 0.8);
  opacity: 0;
  z-index: 8;
}

.back_to_top:hover {
  bottom: 31vh;
  background-color: rgb(var(--less-light-blue));
  border: 2px solid rgb(var(--white));
  color: rgb(var(--white));
}

.footer_block {
  max-width: var(--max-width);
  margin: auto;
  padding: 5rem 1rem;
}

.footer_container {
  padding-block: 10vh;
  display: grid;
  gap: 4rem 0;
  align-items: center;
}

.footer_col {
  padding-inline: 1.25rem;
}

.footer_container img {
  max-width: 170px;
  margin-inline: auto;
  margin-bottom: 4vh;
  box-shadow: none;
  border-radius: 0;
}

.footer_socials {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  flex-wrap: wrap;
}

.footer_socials a {
  font-size: 1.5rem;
  color: rgb(var(--black));
  transition: 0.1s ease-in-out;
}

.footer_socials a:hover {
  color: rgb(var(--text-light));
  transform: scale(1.4);
}

.footer_links {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.75rem;
}

.footer_links a {
  display: block;
  font-weight: 600;
  color: rgb(var(--black));
  text-align: center;
  transition: 0.1s ease-in-out;
}

.footer_links a:hover {
  color: rgb(var(--dark-blue));
  border-color: rgb(var(--dark-blue));
  text-shadow: 0 0px 20px rgba(var(--blue), 0.8);
  transform: scale(1.4);
}

.footer_col h4 {
  margin-bottom: 2vh;
  font-size: 1.25rem;
  font-weight: 600;
  color: rgb(var(--black));
  text-align: center;
}

.footer_contact_btn {
  flex-wrap: wrap;
  display: flex;
  padding: 0.5rem 3.5rem;
  border-radius: 5px;
  font-weight: 700;
  background-color: rgb(var(--dark-blue));
  border: 2px solid rgb(var(--dark-blue));
  width: 200px;
  height: 36px;
  font-size: 1.125rem;
  margin-block: 10px;
  align-content: center;
  justify-self: center;
  justify-content: space-evenly;
  cursor: pointer;
}

.footer_contact_btn:hover {
  background-color: rgb(var(--less-light-blue));
  border-color: rgb(var(--white));
  box-shadow: 0px 4px 8px rgba(var(--black), 0.4);
}

.footer_bar {
  border-radius: 50px 50px 50px;
  padding: 1rem;
  font-size: 1rem;
  font-weight: 600;
  color: rgb(var(--white));
  background-color: rgb(var(--black));
  text-align: center;
}

@media (min-width: 319px) {
  .nav_call_btn {
    display: flex;
    border-radius: 5px;
    font-weight: 700;
    text-align: center;
    background-color: rgb(var(--dark-blue));
    border: 2px solid rgb(var(--dark-blue));
    width: 150px;
    height: 36px;
    font-size: 1rem;
    position: static;
    flex-direction: column;
    justify-content: center;
    cursor: pointer;
    box-shadow: none;
    opacity: 1;
  }

  .nav_call_btn:hover {
    background-color: rgb(var(--less-light-blue));
    border-color: rgb(var(--white));
    box-shadow: 0px 4px 8px rgba(var(--black), 0.4);
  }
}

@media (min-width: 540px) {
  .footer_container {
    grid-template-columns: repeat(2, 1fr);
  }

  .footer_col:nth-child(1) {
    grid-area: 1/1/2/3;
  }

  .footer_col:nth-child(3) {
    border-left: 2px solid rgb(var(--black));
  }

  .back_to_top {
    left: 95%;
  }
}

@media (min-width: 768px) {
  .footer_container {
    grid-template-columns: repeat(3, 1fr);
  }

  .footer_col:nth-child(1) {
    grid-area: 1/2/2/3;
    border-left: 2px solid rgb(var(--black));
    border-right: 2px solid rgb(var(--black));
  }

  .footer_col:nth-child(3) {
    border: none;
  }
}

@media (min-width: 900px) {
  body {
    padding-top: 0;
  }

  .header {
    border-bottom-right-radius: 20px 20px;
    border-bottom-left-radius: 20px 20px;
  }

  .header .btn {
    display: flex;
  }

  h3 {
    display: flex;
    text-align: center;
    justify-content: center;
    font-size: 1.25rem;
    padding-top: 2rem;
  }

  nav {
    padding: 1.125rem 1.4rem;
    position: static;
    max-width: 98vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .nav_header {
    display: none;
  }

  .nav_logo_corner {
    display: grid;
    width: 100%;
    position: static;
    flex-direction: row;
    justify-content: left;
    align-self: center;
    background: transparent;
  }

  .nav_logo_corner img {
    max-width: 150px;
  }

  .nav_logo_corner img:hover {
    opacity: 0.8;
  }

  .nav_links {
    padding: 0;
    width: 100%;
    position: static;
    transform: none;
    flex-direction: row;
    justify-content: end;
    gap: 28px;
    background-color: transparent;
  }

  .page_header {
    margin-bottom: 1.5rem;
  }
}

@media (min-width: 1024px) {
  nav {
    max-width: 1600px;
  }
}

@media (height < 540px) {
  .header .get_offer_btn {
    display: none;
  }

  .nav_call_btn {
    width: 200px;
    font-size: 1.125rem;
    opacity: 1;
  }
}
